<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "logos/envato.jpg",class:"img-fluid d-block mx-auto"  %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "logos/designmodo.jpg", class:"img-fluid d-block mx-auto" %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "logos/themeforest.jpg", class:"img-fluid d-block mx-auto"%>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "logos/creative-market.jpg", class:"img-fluid d-block mx-auto" %>
        </a>
      </div>
    </div>
  </div>
</section>