<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Your Solution!</div>
      <div class="intro-heading text-uppercase">We love to build fabolous systems</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
  </div>
</header>

<%= render partial: "pages/services" %>
<%#= render partial: "pages/portfolio" %>
<%= render partial: "pages/about" %>
<%= render partial: "pages/team" %>
<%#= render partial: "pages/clients" %>
<%= render partial: "pages/contact" %>
